[mysqld]
user   = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket   = /var/run/mysqld/mysqld.sock
port   = 3306
bind_address = 0.0.0.0
basedir    = /usr
datadir    = /var/lib/mysql
tmpdir   = /tmp
lc-messages-dir  = /usr/share/mysql
explicit_defaults_for_timestamp
skip-external-locking
max_allowed_packet = 32M
key_buffer_size = 32M
innodb_log_file_size = 256M
innodb_buffer_pool_size = 2G
innodb_file_per_table = 1
#innodb_flush_method = 0_DIRECT
innodb_flush_log_at_trx_commit = 0
max_connections = 100
slow_query_log_file = /var/log/mysql/slow.log
slow_query_log = ON
long_query_time = 3
log_timestamps = SYSTEM
log-error    = /var/log/mysql/error.log
binlog_expire_logs_seconds = 864000
max_binlog_size = 100M
event_scheduler = DISABLED
join_buffer_size = 4M
read_buffer_size = 3M
read_rnd_buffer_size = 4M
sort_buffer_size = 4M
table_definition_cache = 40000
table_open_cache = 20000
open_files_limit = 41000
max_heap_table_size = 128M
tmp_table_size = 128M
# Recommended in standard MySQL setup
sql_mode=
#NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES
mysqlx=0

